*{
    box-sizing: border-box;
}

/* back button */
.backBtn{
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 7px;
    width: 9%;
    border: node;
    border: none;
    background: #4d0b89;
    color: white;
    border-radius: 17px;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;  
    height: 100vh;
    overflow: hidden;

}

/* Progress Steps CSS */

:root{
    --line-border-file: #3498db; 
    --line-border-empty: #e0e0e0;
}

.container{
    text-align: center;
}
.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;

}

.progress-container::before{

    content: "";
    background-color: var(--line-border-empty );
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
    transition: 0.4s ease;
}

.progress{
    background-color: #3498db;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle{
    background-color: white;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width:  30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e0e0e0;
    transition: 0.4s ease;
}

.circle.active{
    border-color: #3498db;
}
.btn{
    background-color: #3498db;
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}
.btn:active{
    transform: scale(0.98);
}
.btn:focus{
    outline: 0;
}
.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}